/*
Copyright © Droxid Technologies 2018 Copyright Holder All Rights Reserved 
*/

.whitetext {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

background: linear-gradient(#f701da, #b601da);
